/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: #FFF;
  font: 16px 'Noticia Text', Georgia, 'Times New Roman', Times, serif;
  color: #424141;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.0;
  font-size: 100%; 
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts .posts-elem {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  border-bottom: #1A8D7C 1px dotted;
}

.posts .posts-elem,
.post p {
  line-height: 23px;
}

.posts .posts-elem:last-child{
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.posts .posts-elem p {
  margin: 2px 0 0 0; 
}

.post p:nth-child(2) {
  font-style: italic;
  color: #000000;
}

.post p {
  padding: 5px 0; 
}

.date {
  line-height: 10px;
  color: #AAA;
  font-family: "Courier New", monospace;
  font-size: 80%;
  padding: 4px 0 6px 0;
}

.menu-wrapper {
  font-size: 15px;
}

.about.post p {
  margin: 0 0 10px 0;
}

.about.post .no-margin, .about.post {
  margin: 0;
}

.about p:nth-child(2) {
	font-style: normal;
	color: #424141;
}

.post-item-img {
  width: 300px;
}

.post-item-into {
  width: 490px;
  padding-left: 10px;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.top-stripe, .footer {
  text-align: center;
  background: rgb(2,32,30); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(2,32,30,1) 0%, rgba(0,70,60,1) 25%, rgba(26,141,124,1) 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(2,32,30,1)), color-stop(25%,rgba(0,70,60,1)), color-stop(80%,rgba(26,141,124,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02201e', endColorstr='#1a8d7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.top-site {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  color: #FFF;
  text-align: left;
}

.top-site .header .menu-link,
.top-site .header .menu-link:hover {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
}

.top-site .header h1 {
  font-size: 34px;
  font-weight: normal;
  padding: 0;
}

.top-site .header h2 {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.photo-wrapper {
  text-align: center;
}

.me {
  display: inline-block;
  margin: 0 0 20px 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.site {
  max-width: 800px;
  margin: 0 auto 2em;
  background-color: #FFF;
  padding: 20px;
}

.site a,
.site a:visited,
.site h2 {
  color: #1A8D7C;
  text-decoration: none;
}

.site a {
  border-bottom: 1px dotted #1A8D7C;
}

.site h2 {
  line-height: 20px;
}

.site a:hover {
  color: #07594D; 
  text-decoration: none;
}

.site .title {
  font-size: 20px;
  font-weight: normal;
  border-bottom: none;
}

.site .meta {
  color: #AAA;
}

.menu-wrapper {
  height: 44px;
  margin: 0 0 10px 0;
  max-width: 800px;
  border-top: #1A8D7C 1px dotted;
  border-bottom: #1A8D7C 1px dotted;
}

.menu-wrapper .menu-elements {
  display: block;
  padding: 0px 10px;
  margin: 0 auto;
  width: 394px;
}

.menu-element {
  list-style: none;
  display: inline-block;
  padding: 12px 10px;
}

.menu-element .menu-link {
  color: #FFF;
  text-decoration: none;
  border-bottom: none;
  padding: 2px 0 2px 28px;
  background: url('./../assets/sprites.png') no-repeat;
}

.menu-element .menu-link:hover {
  text-decoration: underline;
}

.about .menu-link {
  background-position: 0 0;
}

.home .menu-link {
  background-position: 0 -26px;
}

.twitter .menu-link {
  background-position: 0 -78px;
}

.github .menu-link {
  background-position: 0 -104px;
}

.rss .menu-link {
  background-position: 0 -52px;
}

.footer {
  padding: 20px 0 20px 0;
  text-align: center;
  color: #FFF;
}

.footer .footer-link {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px dotted #FFF;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
pre {
  border: 1px solid #E2DEDE;
  background-color: #FCFCFC;
  padding: 0.2em .4em;
  margin: 5px 0;
  overflow-x: scroll;
}

code {
  border: 1px solid #E2DEDE;
  background-color: #FCFCFC;
  padding: 0.1em .2em;
  font-size: 14px;
}

pre code {
  border: none;
}

/* terminal */
.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.terminal code {
  background-color: #333;
}

.post {
  margin: 0 0 16px 0;
}

.social {
  margin: 0 0 8px 0;
}

.post h3 {
  font-size: 20px;
  padding: 5px 0;  
}

.post h3,
.post h2 {
	font-weight: normal;
	color: #1A8D7C;
}

.post h2 {
  font-size: 12px;
  padding: 3px 0 0 0;  
}

.posts li p img,
.post img {
  border: 1px solid #E2DEDE;
  padding: 1px;
}

.post ol {
  padding: 0 0 0 30px;
}

.post ol li {
  padding: 4px 0;
}
