/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: url('./../assets/bg.png') repeat top left #FFF;
  font: 16px Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #424141;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.0;
  font-size: 100%; 
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
}

ul.posts li {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #0AC692;
}

ul.posts li, 
.post p {
  line-height: 22px;
}

ul.posts li:last-child{
  margin: 0;
  padding: 0;
  border-bottom: none;
}

ul.posts li p { 
  margin: 2px 0 0 0; 
}

div.post p:nth-child(2) {
  font-style: italic;
  color: #000000;
}

div.post p { 
  padding: 5px 0; 
}

.date {
  line-height: 10px;
}

.date span {
  color: #AAA;
  font-family: "Courier New", monospace;
  font-size: 80%;
}

.about, .menu-wrapper {
  font: 14px Droid Serif,sans-serif;
}

.about.post p{
  margin: 0 0 10px 0;
  line-height: 27px;
  font-size: 17px;
  letter-spacing: 0.3px;
}

.about.post p.no-margin, .about.post {
  margin: 0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.top-stripe {
  background: rgb(2,32,30); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(2,32,30,1) 0%, rgba(0,70,60,1) 25%, rgba(26,141,124,1) 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(2,32,30,1)), color-stop(25%,rgba(0,70,60,1)), color-stop(80%,rgba(26,141,124,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(2,32,30,1) 0%,rgba(0,70,60,1) 25%,rgba(26,141,124,1) 80%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02201e', endColorstr='#1a8d7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.top-stripe img {
  display: inline-block;
  margin: 20px 0 20px 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 38px 12px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 0px 38px 12px rgba(0,0,0,0.11);
  box-shadow: 0px 0px 38px 12px rgba(0,0,0,0.11);
}

.top-site {
  max-width: 640px;
  margin: 0 auto;
  padding: 2em 0;
  font-family: 'Droid Serif', Georgia,'Times New Roman', serif;
  color: #FFF;
}

.top-site .header a,
.top-site .header a:hover {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
  border-bottom: #FFF 1px dotted;
}

.top-site .header h1 {
  font-size: 34px;
  font-weight: normal;
  padding: 0 0 14px 0;
}

.top-site .header h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.top-stripe .retro-stripe {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  background-image: url('./../assets/retro_stripe.png');
  background-size: 500px 50px;
  background-repeat: no-repeat;
}

.site {
  text-align: justify;
  max-width: 640px;
  margin: 0 auto 2em;
  background-color: #FFF;
  padding: 20px;
}

.site a,
.site a:visited,
.site h2,
footer a { 
  color: #1A8D7C;
  text-decoration: none; 
}

.site a,
footer a {
  border-bottom: 1px dotted #1A8D7C;
}

.site h2 {
  line-height: 20px;
}

.site a:hover,
footer a:hover { 
  color: #07594D; 
  text-decoration: none;
}

.site .title {
  font-size: 20px;
  font-family: 'Droid Serif', Georgia,'Times New Roman', serif;
  font-weight: normal;
  border-bottom: none;
}

.site .meta {
  color: #AAA;
}

.site .menu-wrapper {
  height: 40px;
  margin: 0 0 10px 0;
  max-width: 640px;
  border-top: #1A8D7C 1px dotted;
  border-bottom: #1A8D7C 1px dotted;
  background-color: #FFF;
}

.site .menu-wrapper ul {
  display: block;
  padding: 0px 10px;
  margin: 0 auto;
  width: 392px;
}

.site .menu-wrapper ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 10px;
}

.site .menu-wrapper ul li a {
  border-bottom: none;
  padding: 4px 0 4px 28px;
  background: url('./../assets/sprites.png') no-repeat;
}

.site .menu-wrapper ul li.about a {
  background-position: 0 0;
}

.site .menu-wrapper ul li.home a {
  background-position: 0 -26px;
}

.site .menu-wrapper ul li.twitter a {
  background-position: 0 -78px;
}

.site .menu-wrapper ul li.github a {
  background-position: 0 -104px;
}

.site .menu-wrapper ul li.rss a {
  background-position: 0 -52px;
}

footer {
  padding: 0 0 10px 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
pre {
  border: 1px solid #E2DEDE;
  background-color: #FCFCFC;
  padding: 0.2em .4em;
  margin: 5px 0;
}

code {
  border: 1px solid #E2DEDE;
  background-color: #FCFCFC;
  padding: 0.1em .2em;
  font-size: 12px;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

.post {
  margin: 0 0 16px 0;
}

.social {
  margin: 0 0 8px 0;
}

.post h3 {
  font-size: 18px;
  padding: 5px 0;  
}

.post h3,
.post h2 {
	font-family: 'Droid Serif', Georgia,'Times New Roman', serif;
	font-weight: normal;
	color: #1A8D7C;
}

.post h2 {
  font-size: 16px;
  padding: 3px 0 0 0;  
}

.posts li p img,
.post img {
  border: 1px solid #E2DEDE;
  padding: 1px;
}

.post ol {
  padding: 0 0 0 30px;
}

.post ol li {
  padding: 4px 0;
}
