@media only screen and (max-width: 840px) {

  .post-item-img,
  .post-item-into,
  .header,
  .menu-wrapper {
    float: none;
  }

  .header {
    text-align: center;
  }

  .menu-wrapper {
    height: auto;
    border: none;
  }

  .menu-wrapper .menu-elements {
    padding: 20px 0 0 0;
    width: 200px;
  }

  .menu-wrapper .menu-element {
    list-style: none;
    display: block;
    padding: 12px 10px;
    border-top: #1A8D7C 1px dotted;
  }

  .menu-wrapper .menu-element:nth-child(1) {
    border-top: none;
  }

  .post-item-img {
    width: auto;
    text-align: center;
  }

  .post-item-into {
    width: auto;
  }

  code {
    word-wrap: break-word;
    font-size: 14px;
  }

  .image,
  .tutor,
  .no-mobile {
    display: none;
  }
}