.tutor {
	margin: 16px 0;
}

.tutor h3{
	color: #000;
	margin: 3px 0;
	font-size: 16px;
}

.img-item {
	border: 1px solid #E2DEDE;
	padding: 1px;
	display: none;
	float: left;
}

.img-item:first-child {
	display: block;
}

.img-item img{
	border: none;
	padding: 0;
}

.li-wrapper {
	text-align: center;
	width: 640px;
}

.li-wrapper li {
	display: inline;
	list-style-type: none;
	text-align: center;
}

.li-wrapper li a {
	font: 10px Arial,sans-serif;
	display: inline-block;
	padding: 10px 14px;
	background-color: #FFF;
	color: #000;
	text-decoration: none;
	border-left: #E2DEDE 1px solid;
	border-right: #E2DEDE 1px solid;
	border-bottom: #E2DEDE 1px solid;
}

.li-wrapper li a.active,
.li-wrapper li a:hover {
	color: #000;
	background-color: #E2DEDE;
}