---
layout: default
title: Zofia Korcz
---
<div class="menu-wrapper">
  <ul>
    <li class="about">
      <a href="/about.html">About me</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/intuitio">Twitter</a>
    </li>
    <li class="github">
      <a href="https://github.com/Calanthe">Github</a>
    </li>
    <li class="rss">
      <a href="{{ site.url }}/feed.xml">RSS</a>
    </li>
  </ul>
</div>
<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
      	<a class="title" href="{{ post.url }}">{{ post.title }}</a>
      	<div class="date"><span>{{ post.date | date_to_string }}</span></div>
      	<p>{% if post.content contains '<!--more-->' %}
      			{{ post.content | split:'<!--more-->' | first }}
			{% else %}
				{{ post.excerpt }}
			{% endif %}
		</p> 
      </li>
    {% endfor %}
  </ul>
</div>