---
layout: default
title: Zofia Korcz
---
<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li class="posts-elem clearfix">
        <div class="post-item-img left">
          {{ post.image }}
        </div>
        <div class="post-item-into right">
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          <div class="date">{{ post.date | date_to_string }}</div>
          <p>{% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>