<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}"/>
        <meta name="Keywords" content="HTML,HTML5,JavaScript,DOM,jQuery,HTML5 games,CSS 3,tutorial,programming,development,Duck Hunt,canvas,webgl,MDN,Zofia Korcz,Zosia Korcz"/>
        <meta name="viewport" content="width=device-width"/>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css"/>

        <!-- Mobile CSS -->
        <link rel="stylesheet" href="/css/mobile.css"/>
    </head>
    <body>

        <div class="container">
          <div class="top-stripe">
                <div class="top-site">
                  <div class="header">
                      <h1><a href="{{ site.url }}">Zosia Korcz</a></h1>
                      <h2>...a girl who wants to make games.</h2>
                  </div>
                </div>
                <img src="/assets/ZK_200.jpg" width="200" height="200" alt="me myself and I"/>
                <div class="retro-stripe"></div>
          </div>

          <div class="site">
                {{ content }}
          </div>
          <footer>
            <p>&#169; 2013&#8211;present <a href="{{ site.url }}">Zofia Korcz</a> | <a href="{{ site.url }}/feed.xml">RSS feed</a></p>
          </footer>
        </div> <!-- /container -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44434390-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
